.section-specialty {
    height: 330px;
    background: #f5f5f5;

    .specialty-container {
        margin: 0 100px;
        display: flex;
        flex-direction: column;

        .specialty-header {
            height: 60px;
            margin-bottom: 30px;
            padding-top: 30px;

            .title-section{
                font-size: 22px;
                font-weight: 600;
            }

            .btn-section{
                float: right;
                padding: 10px 15px;
                border: none;
                outline: none;
                display: block;
                background: #ebebeb;
                color: black;
                cursor: pointer;
                text-transform: uppercase;

                &:hover{
                    color: #fff;
                    background: #f7d800;
                }
            }
        }

        .specialty-body {

            .specialty-customize {

                .bg-image {
                    height: 150px;
                    width: 278px;
                    background: url('../../../assets/specialty/co-xuong-khop.jpg');
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: #eee;
                }
            }

            .slick-prev {
                border: 1px solid green !important;
                //position: relative !important;
                left: -10px !important;
                z-index: 1000 !important;
                height: 48px !important;
                width: 44px !important;
                background: #fff !important;
                border: 2px solid #d7d7d7 !important;

                &:hover {
                    background-color: #eceaea !important;
                }
            }

            .slick-prev:before,
            .slick-next:before {
                font-family: FontAwesome !important;
                //content: "\f060" !important;
            }

            .slick-next {
                border: 1px solid green !important;
                //position: relative !important;
                right: -10px !important;
                z-index: 1000 !important;
                height: 48px !important;
                width: 44px !important;
                background: #fff !important;
                border: 2px solid #d7d7d7 !important;

                &:hover {
                    background-color: #eceaea !important;
                }
            }
        }
    }
}